* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.app-heading{
  background: #aaa;
  padding: 1em;
  display: flex;
}
.board-heading{
  background: #bbb;
  padding: 1em;
}
.board-container{
  background: #ccc;
  height: 100vh;
  /* backdrop-filter: blur(20px); */
}
/* .board-container::before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */
.list-container {
  padding: 1em;
  display: flex;
  flex-wrap: nowrap;
}
.card-container{
  display: flex;
  flex-direction: column;
}
.list-box{
  background: #fff;
  width: 200px;
  min-height: 50px;
  margin: 0 1em 0 1em;
  padding: 0.5em;
  border-radius: 0.5em;
  box-shadow: 0.7px 0.7px rgba(0,0,0,0.5);
}
.add-list-title{
  font-weight: bold;
  margin-bottom: 0.5em;
}
.add-card-title {
  background: #eee;
  margin: 0.3em;
  padding: 0.3em;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 0.5em;
  box-shadow: 0 0.7px rgba(0,0,0,0.5);
  cursor: pointer;
}
.add-card-title:hover{
  background: #ddd;
}
.newitem-btn{
  padding: 0.5em;
  background: transparent;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}
.newitem-btn:hover{
  background: #ddd;
}
.add-btn{
  background: blue;
  color: #fff;
  padding: 0.5em;
  border: none;
  border-radius: 0.3em;
}
.cross-btn{
  border: none;
  padding: 0.5em;
  font-size: 22px;
  background: transparent;
  color: #777;
  cursor: pointer;
}
.cross-btn:hover{
  color: #333;
}
.card-popup{
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  height: 500px;
  width: 450px;
  position: fixed;
  top: 15%;
  right: 30%;
  border: 1px solid black;
  background: #aaa;
}
.popup-header{
  display: flex;
  justify-content: space-between;
}
textarea{
  padding: 0.5em;
}
/* .card-ghost{
  transition: transform 0.2s ease;
  transform: rotateZ(5deg);
  font-weight: bold;
}
.card-ghost-drop{
  transition: transform 0.2s ease-in-out;
  transform: rotateZ(0deg);
} */
