.newitem-btn{
    padding: 0.5em;
    background: transparent;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
  }
  .newitem-btn:hover{
    background: #ddd;
  }
  .add-btn{
    background: blue;
    color: #fff;
    padding: 0.5em;
    border: none;
    border-radius: 0.3em;
  }
  .cross-btn{
    border: none;
    padding: 0.5em;
    font-size: 22px;
    background: transparent;
    color: #777;
    cursor: pointer;
  }
  .cross-btn:hover{
    color: #333;
  }