  .list-box{
    background: #fff;
    width: 200px;
    min-height: 50px;
    margin: 0 1em 0 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0.7px 0.7px rgba(0,0,0,0.5);
  }
  .add-list-title{
    font-weight: bold;
    margin-bottom: 0.5em;
  }