  .list-box{
    background: #fff;
    width: 200px;
    min-height: 50px;
    margin: 0 1em 0 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 1px 1px rgba(0,0,0,0.5);
  }
  .list-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    cursor: pointer;
  }
  .list-title input{
    font-weight: bold;
    font-size: 1.2em;
    border: none;
    background: transparent;
    width: 5em;
  }
  .del-list-btn{
    border: none;
    background: none;
  }
  .del-list-btn:hover{
    color: rgba(0,0,0,0.8);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
  }
  